.footer_box {
    color:	#C0C0C0;
    display :center;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Playfair Display', serif;
    position : fixed;
    margin-bottom: 20px;
bottom : 0;
width: 100%;
}

.footer_top {
    font-weight:bold;
    text-align: center;
    list-style:none;

        display: table;
        margin-left: auto;
        margin-right: auto;
 

}

.foter_bottom {
    display :flex;
}


 
li {
    text-align: center;
    float: left;
    margin-right: 20px;
}